.App{ 
  background-color: rgb(70, 83, 83);
  display: flex;
  flex-grow: 1;
  border: 2px solid black;
  align-items: center;
  height:100%;
  width:100%;
  padding: 20px
};

body{
  background-color: antiquewhite;

}