.content{ 
    padding: 30px;
    display: flex;
    flex-grow: 1;
    color: rgb(127, 126, 125);
    min-height: 100vh;
    font-family: 'Bebas Neue';
    font-stretch: expanded; 
    background-color: black;
}